* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

body {
    background-color: #f2f2f2;
}

.navbar {
    width: 100%;
    padding: 20px;
    display: flex;

    background-color: white;
    border: 1px solid black;
}

.navbar h1 {
    font-size: 1.5em;
    font-style: italic;
    font-weight: 600;

    letter-spacing: 0.33em;
    text-align: left;
    margin-left: 2%;
}

.book {
    width: 196px;
    height: 286px;
    display: flex;

    justify-content: center;
    flex-direction: column;
    gap: 10%;

    text-align: center;
    font-style: italic;
    font-weight: 600;
    letter-spacing: 0.24em;

    background-color: white;
    border: 1px solid #494949;
    box-shadow: 11px 9px 0px 0px #8d8c8c80;
}

.book-form {
    width: 196px;
    height: 286px;
    display: flex;

    justify-content: center;
    flex-direction: column;
    gap: 10%;

    background: rgba(250, 255, 0, 0.65);
    border: 2px dashed #494949;
}

.book-form input,
button {
    background: rgba(250, 255, 0, 0.65);
    border: 1px solid rgba(250, 255, 0, 0.65);

    font-size: 1.5em;
    text-align: center;
    font-style: italic;
    font-weight: 600;
    letter-spacing: 0.24em;
}

.book-form button {
    font-size: 0.8em;
}

input:active {
    outline: none;
}

input:focus {
    outline: none;
}

.shelf {
    margin: 2%;
    display: flex;
    gap: 2%;
}
