* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

body {
    background-color: #f2f2f2;
}

.navbar {
    padding: 20px;

    display: flex;
    justify-content: space-between;

    background-color: white;
    border: 1px solid black;
}

.navbar h1 {
    font-size: 1.5em;
    font-style: italic;
    font-weight: 600;

    letter-spacing: 0.33em;
    text-align: left;
    margin-left: 3%;
}

/* S E A R C H  A R E A */
.search {
    margin-right: 3%;
    display: flex;
    justify-content: end;
}

/* search field for Shelf  */
.search input {
    text-align: right;
    border: 1px solid white;
    padding: 0.4em;
    width: 80%;
    border: 2px solid black;

    font-style: italic;
    letter-spacing: 0.33em;
    font-weight: 200;
}

/* search field for InsideTheBook  */
select {
    outline: 0;
    background-color: white;
    border: 2px solid black;

    padding: 5% 0 5% 10%;

    font-style: italic;
    letter-spacing: 0.33em;
    font-weight: 200;
}

.banner {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: rgb(248, 251, 114);
    border: 1px solid black;
    padding: 1%;
}

.banner h2 {
    font-style: italic;
    font-weight: 800;
    letter-spacing: 0.33em;
    text-align: left;
}

.banner h2 span {
    font-weight: 300;
}

.shelf {
    margin: 2%;
    display: flex;
    flex-flow: row wrap;
}

.book {
    width: 196px;
    height: 286px;

    margin: 2%;
    padding: 1%;

    display: flex;
    justify-content: center;
    flex-flow: column wrap;
    gap: 7%;

    text-align: center;
    font-style: italic;
    font-weight: 500;
    letter-spacing: 0.24em;

    background-color: white;
    border: 1px solid #494949;

    box-shadow: 11px 9px 0px 0px #8d8c8c80;
    cursor: pointer;
}
/* B O O K  F O R M */
.book-form {
    width: 196px;
    height: 286px;
    display: flex;
    margin: 2%;

    justify-content: center;
    flex-direction: column;
    gap: 10%;

    background: rgb(248, 251, 114);
    border: 2px dashed #494949;
}

.book-form input,
button {
    background: rgb(248, 251, 114);
    border: 1px solid rgb(248, 251, 114);

    font-size: 1em;
    text-align: center;
    font-style: italic;
    font-weight: 600;
    letter-spacing: 0.24em;
}

.book-form button {
    font-size: 0.8em;
    cursor: pointer;
}
/* I N S I D E  T H E  B O O K */
.inside {
    margin: 2%;
    display: flex;
    flex-wrap: wrap;
}

/* P O S T */
.post {
    position: relative;
    width: 200px;
    height: auto;
    margin: 2%;

    background: white;
    border: 2px solid #494949;

    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
}

.post-top {
    position: relative;
    /* height: 80%; */
    padding: 5%;

    overflow: scroll;
}
.post-top p {
    font-style: italic;
    font-weight: 300;
    letter-spacing: 0.3em;
    text-align: left;
}

.post-bottom {
    position: relative;
    height: auto;
    bottom: 0;
    padding: 2% 0 2% 5%;

    border-top: 1px solid black;

    display: flex;
    justify-content: space-between;
}

.post-bottom h4 {
    font-style: italic;
    font-weight: 600;
    letter-spacing: 0.33em;
    text-align: left;
}

.post-bottom h4 span {
    font-weight: 300;
}

/* P O S T  F O R M */
.post-form {
    position: relative;
    width: 200px;
    height: 200px;
    margin: 2%;

    background: rgb(248, 251, 114);
    border: 2px dashed #494949;
}

.post-form:hover {
    border: 2px solid #494949;
}

.post-form .top {
    height: 80%;
    width: 100%;
    padding: 5%;

    background: rgb(248, 251, 114);
}

.post-form .top input {
    width: 100%;
    background: rgb(248, 251, 114);
    border: 1px solid rgb(248, 251, 114);

    font-style: italic;
    font-weight: 300;
    letter-spacing: 0.3em;
    text-align: left;
}

.post-form .bottom {
    width: 100%;
    height: 20%;
    position: relative;
    bottom: 0;

    border-top: 1px solid black;

    display: flex;
    justify-content: space-between;
}

.post-form .bottom button {
    position: relative;
    cursor: pointer;
    font-size: 1.5em;
    font-weight: 500;
}

.post-form .bottom button:hover {
    font-weight: 300;
}

.post-form .bottom select {
    background: rgb(248, 251, 114);
    border: 1px solid rgb(248, 251, 114);

    padding: 4%;
    font-style: italic;
    font-weight: 600;
    letter-spacing: 0.33em;
}

.post-form .bottom input {
    background: rgb(124, 125, 112);
    border: 1px solid rgb(248, 251, 114);

    font-size: 1em;
    text-align: center;
    font-style: italic;
    font-weight: 600;
    letter-spacing: 0.24em;
}

/* I N P U T */
input:active {
    outline: none;
}

input:focus {
    outline: none;
}
