* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

body {
    background-color: #f2f2f2;
}

.navbar {
    padding: 20px;

    display: flex;
    justify-content: space-between;

    background-color: white;
    border: 1px solid black;
}

.navbar h1 {
    font-size: 1.5em;
    font-style: italic;
    font-weight: 600;

    letter-spacing: 0.33em;
    text-align: left;
    margin-left: 5%;
}

.navbar a {
    text-decoration: none;
    color: black;
}

/* S E A R C H  A R E A */
.search {
    margin-right: 1%;
    display: flex;
    justify-content: end;
}

/* search field for Shelf  */
.search input {
    width: 80%;
    text-align: right;
    border: 1px solid white;
    padding: 0.4em;
    border: 2px solid black;

    font-style: italic;
    letter-spacing: 0.33em;
    font-weight: 200;
}

.search input::placeholder {
    color: black;
    font-weight: 300;
}

/* search field for InsideTheBook  */
.search select {
    width: 200px;
    outline: 0;
    background-color: white;
    border: 2px solid black;

    padding: 3% 0 3% 5%;

    font-style: italic;
    letter-spacing: 0.33em;
    font-weight: 200;
}

.banner {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 1;
    background-color: rgb(248, 251, 114);
    border: 1px solid black;
    padding: 1%;
}

.banner h2 {
    font-style: italic;
    font-weight: 800;
    letter-spacing: 0.33em;
    text-align: left;
}

.banner h2 span {
    font-weight: 300;
}

.shelf {
    margin: 2%;
    margin-bottom: 7%;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 3%;
}

.book {
    position: relative;
    width: 190px;
    height: 280px;

    padding: 2%;

    display: flex;
    justify-content: center;
    flex-flow: column wrap;
    gap: 10%;

    font-size: 0.9em;
    text-align: center;
    font-style: italic;
    font-weight: 500;
    letter-spacing: 0.2em;
    line-height: 1.8em;

    background-color: white;
    border: 1px solid #494949;

    transition: 0.4s;
    cursor: pointer;

    overflow: scroll;
}

.book:hover {
    box-shadow: 11px 9px 0px 0px #8d8c8c80;
}

/* B O O K  F O R M */
.book-form {
    width: 196px;
    height: 286px;

    padding: 5%;

    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 5%;

    background: rgb(248, 251, 114);
    border: 2px dashed #494949;
}

.book-form textarea {
    height: 100%;
    resize: none;
    outline: none;
    background: rgb(248, 251, 114);
    border: 1px solid rgb(248, 251, 114);

    font-size: 1em;
    font-style: italic;
    text-align: center;
    font-weight: 600;
    letter-spacing: 0.24em;
}

.book-form button {
    background: rgb(248, 251, 114);
    border: 1px solid rgb(248, 251, 114);

    font-size: 0.9em;
    font-style: italic;
    font-weight: 600;
    letter-spacing: 0.2em;

    cursor: pointer;
}

.book-form button:hover {
    font-weight: 400;
    letter-spacing: 0.3em;
}

/* ::placeholder {
    color: rgb(177, 155, 251);
    font-weight: 800;
} */

/* I N S I D E  T H E  B O O K */
.inside {
    margin: 2%;
    margin-bottom: 15%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 5%;
}

/* P O S T */
.post {
    position: relative;
    min-width: 180px;
    height: 230px;

    background-color: white;
    border: 2px solid #494949;
}

.post-top {
    height: 85%;
    padding: 5%;
    overflow: scroll;
}

.post-top p {
    font-style: italic;
    font-weight: 300;
    letter-spacing: 0.25em;
    text-align: left;
}

.post-bottom {
    height: 15%;
    border-top: 1px solid black;

    display: flex;
    justify-content: space-between;
}

/* C A T E G O R Y */
.post-bottom h2 {
    font-size: 1em;
    margin-top: 2%;
    margin-right: 5%;

    font-weight: 600;
}

.post-bottom h2:hover {
    color: rgb(177, 155, 251);
}

.post-bottom h4 {
    font-style: italic;
    font-weight: 600;
    font-size: 0.9em;
    letter-spacing: 0.21em;
    text-align: left;
    margin-top: 2.5%;
    margin-left: 3.5%;
}

.post-bottom h4 span {
    font-weight: 300;
}

/* R A T I N G */
.rating {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    border: 3px solid rgb(177, 155, 251);
    background-color: white;
}

.rating div {
    /* border: 1px solid black; */
    display: flex;
    justify-content: space-between;
    padding: 8% 5% 2% 5%;
}

/* single ratings */
.rating h4 {
    letter-spacing: 0.25em;
    display: inline;
    font-style: italic;
}

.rating h4:hover {
    font-weight: 200;
    cursor: pointer;
}

.error-post {
    font-weight: 100;
    font-style: italic;
    letter-spacing: 0.25em;
    color: rgb(177, 155, 251);

    position: absolute;
    bottom: 3px;
}

.error-post-form {
    font-weight: 100;
    font-style: italic;
    color: rgb(177, 155, 251);
}

.error-book-form {
    text-align: left;
    font-weight: 100;
    letter-spacing: 0.3em;
    font-style: italic;
    color: rgb(177, 155, 251);
}

/* button to hide ratings again */
.rating h2 {
    position: absolute;
    bottom: -4px;
    right: 9px;

    cursor: pointer;
}

.rating h2:hover {
    color: rgb(177, 155, 251);
}

/* P O S T  F O R M */
.post-form {
    min-width: 180px;
    height: 230px;

    background: rgb(248, 251, 114);
    border: 2px dashed #494949;
}

.post-form:hover {
    border: 2px solid #494949;
}

.post-top {
    display: flex;
    flex-direction: column;
}

.post-top textarea {
    height: 100%;
    resize: none;
    outline: none;
    background: rgb(248, 251, 114);
    border: 1px solid rgb(248, 251, 114);

    text-align: left;
    font-style: italic;
    font-weight: 700;
    letter-spacing: 0.2em;
    color: rgb(177, 155, 251);
}

.post-bottom button {
    background: rgb(248, 251, 114);
    border: 1px solid rgb(248, 251, 114);

    margin-right: 3%;
    cursor: pointer;
    font-size: 1.2em;
    font-weight: 500;
}

.post-bottom button:hover {
    font-weight: 300;
}

.post-bottom select {
    background: rgb(248, 251, 114);
    border: 1px solid rgb(248, 251, 114);

    width: 80%;
    padding: 0;
    margin-left: 2%;

    font-style: italic;
    font-weight: 600;
    letter-spacing: 0.33em;
}

/* I N P U T */
input:active {
    outline: none;
}

input:focus {
    outline: none;
}
